<div class="card">
  <div class="container-fluid">
    <div class="content">
      <div class="header">
        <legend>Registro de locação</legend>
      </div>
      <form [formGroup]="rentForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="_id">Id Locação</label>
            <input type="text" class="form-control" disabled />
          </div>
          <div class="form-group col-md-4">
            <label for="clientId">Cliente</label>
            <select
              id="clientId"
              class="form-control"
              formControlName="clientId"
            >
              <option value="" disabled selected hidden>
                Selecione o cliente
              </option>
              <option *ngFor="let client of clientList" [ngValue]="client">
                {{ client.name }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="cpf">CPF</label>
            <input
              type="text"
              disabled
              class="form-control"
              id="cpf"
              placeholder="000.000.000-00"
              formControlName="cpf"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="idVehicle">Id Veículo</label>
            <input type="text" class="form-control" disabled />
          </div>
          <div class="form-group col-md-4">
            <label for="vehicle">Veículo</label>
            <select id="vehicle" class="form-control" formControlName="vehicle">
              <option value="" disabled selected hidden>
                Selecione o veículo
              </option>
              <option *ngFor="let vehicle of vehicleList" [ngValue]="vehicle">
                {{ vehicle.name }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="plate">Placa</label>
            <input
              type="text"
              class="form-control"
              disabled
              placeholder="XXX - 1234"
              min="1"
              formControlName="plate"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="startDate">Data de saída</label>
            <input
              type="date"
              class="form-control"
              formControlName="startDate"
              id="startDate"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="exitTime">Hora saída</label>
            <input
              type="time"
              class="form-control"
              formControlName="exitTime"
              id="exitTime"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="outputKm">Km Saída</label>
            <input
              type="text"
              class="form-control"
              placeholder="Kilometragem saída"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
              formControlName="outputKm"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="endDate">Data da chegada</label>
            <input type="date" class="form-control" formControlName="endDate" />
          </div>
          <div class="form-group col-md-4">
            <label for="arrivalTime">Hora chegada</label>
            <input
              type="time"
              class="form-control"
              formControlName="arrivalTime"
              id="arrivalTime"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="arrivalKM">Km chegada</label>
            <input
              type="text"
              class="form-control"
              placeholder="Kilometragem chegada"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
              formControlName="arrivalKM"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="card">Cartão</label>
            <input
              type="text"
              class="form-control"
              placeholder="Cartão"
              formControlName="card"
              id="card"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="cardNumber">Número</label>
            <input
              type="text"
              class="form-control"
              placeholder="Número"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
              formControlName="cardNumber"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="securityCode">Cód Segurança</label>
            <input
              type="text"
              class="form-control"
              placeholder="Cod Segurança"
              formControlName="securityCode"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="validity">Validade</label>
            <input
              type="date"
              class="form-control"
              formControlName="validity"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="franchise">Franquia</label>
            <input
              type="text"
              class="form-control"
              formControlName="franchise"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="aboutCard">Observação</label>
            <input
              type="text"
              class="form-control"
              formControlName="aboutCard"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="dailyValue">Total diárias</label>
            <input
              type="text"
              class="form-control"
              placeholder="Total diárias"
              formControlName="dailyValue"
            />
            <label for="excedentKm">Km Excedente</label>
            <input
              type="text"
              class="form-control"
              placeholder="Km excedente"
              formControlName="excedentKm"
              id="excedentKm"
            />
            <label for="otherExpenses">Outras despesas</label>
            <input
              type="text"
              class="form-control"
              placeholder="Outras despesas"
              formControlName="otherExpenses"
            />
          </div>
          <div class="form-group col-md-2">
            <label for="extraHour">Hora extra</label>
            <input
              type="text"
              class="form-control"
              placeholder="Hora extra"
              formControlName="extraHour"
              id="extraHour"
            />
            <label for="discounts">Descontos</label>
            <input
              type="text"
              class="form-control"
              placeholder="Descontos"
              formControlName="discounts"
            />
            <label for="totalReceivable">Total a receber</label>
            <input
              type="text"
              class="form-control"
              placeholder="Total a receber"
              formControlName="totalReceivable"
            />
          </div>

          <div class="form-group col-md-8">
            <label for="aboutRent">Observação</label>
            <input
              type="text"
              class="form-control"
              placeholder="Observação"
              style="height: 170px"
              formControlName="aboutRent"
            />
          </div>
        </div>
        <div class="card">
          <div class="container-fluid">
            <div class="row">
              <div class="header">
                <legend>Regsitro de ocorrências</legend>
              </div>
              <div class="content">
                <form [formGroup]="occurrenceForm">
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <label for="createdAt">Data Manuntenção</label>
                      <input
                        type="date"
                        class="form-control"
                        id="createdAt"
                        name="createdAt"
                        formControlName="createdAt"
                      />
                    </div>
                    <div class="form-group col-md-3">
                      <label for="observation">Observação</label>
                      <input
                        type="observation"
                        class="form-control"
                        placeholder="Observação"
                        id="observation"
                        name="observation"
                        formControlName="observation"
                      />
                    </div>
                    <div class="form-group col-md-2">
                      <label for="observation">Tipo de ocorrência</label>
                      <select
                        id="occurrenceType"
                        class="form-control"
                        formControlName="type"
                      >
                        <option value="" disabled selected hidden>
                          Tipo de ocorrência
                        </option>
                        <option
                          *ngFor="let occurrence of occurrenceType"
                          [ngValue]="occurrence"
                        >
                          {{ occurrence }}
                        </option>
                      </select>
                    </div>

                    <div class="form-group col-md-2" style="margin-top: 24px">
                      <button
                        type="submit"
                        class="btn btn-default btn-fill btn-wd"
                        (click)="onCreateOcuurence()"
                      >
                        ADICIONAR OCORRÊNCIA
                      </button>
                    </div>
                  </div>
                </form>
              </div>

              <div class="form-row">
                <div class="content table-responsive table-full-width">
                  <table class="table" (onDeleteRent)="onDeletedRent($event)">
                    <thead>
                      <tr>
                        <th class="text-center">{{ headerRow[0] }}</th>
                        <th class="text-center">{{ headerRow[1] }}</th>
                        <th class="text-center">{{ headerRow[2] }}</th>
                        <th class="text-center">{{ headerRow[3] }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let occurrence of occurrenceList; let i = index"
                      >
                        <td class="text-center">{{ occurrence?.createdAt }}</td>
                        <td class="text-center">{{ occurrence?.type }}</td>
                        <td class="text-center">
                          {{ occurrence?.observation }}
                        </td>
                        <td class="text-center">{{ i }}</td>
                        <td class="td-actions text-center">
                          <button
                            rel="tooltip"
                            title="Remove"
                            class="btn btn-danger btn-simple btn-xs"
                            (click)="removeOcurrence(i)"
                          >
                            Remover<i class="fa fa-times"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!--/fim ocorrencia-->
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <!-- <div class="col-md-2"> -->
          <button
            type="submit"
            class="btn btn-success btn-fill btn-wd"
            (click)="onSubmit()"
          >
            CONFIRMAR
          </button>
          <!-- </div> -->
          <div style="margin-bottom: 20px"></div>
        </div>
      </form>
    </div>
    <!--/fim content-->
  </div>
</div>
