<div class="card">
  <div class="container-fluid">
    <div class="content">
      <form [formGroup]="rentForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Id Locação</label>
            <input type="text" class="form-control" disabled />
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Cliente</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="client"
            >
              <option value="" disabled selected hidden>
                Selecione o cliente
              </option>
              <option *ngFor="let client of clientList" [ngValue]="client">
                {{ client.name }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="cpf">CPF</label>
            <input
              type="text"
              disabled
              class="form-control"
              id="cpf"
              placeholder="000.000.000-00"
              formControlName="cpf"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Id Veículo</label>
            <input type="text" class="form-control" disabled />
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Veículo</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="vehicle"
            >
              <option value="" disabled selected hidden>
                Selecione o veículo
              </option>
              <option *ngFor="let vehicle of vehicleList" [ngValue]="vehicle">
                {{ vehicle.name }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Placa</label>
            <input
              type="text"
              class="form-control"
              disabled
              placeholder="XXX - 1234"
              min="1"
              formControlName="plate"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Data de saída</label>
            <input
              type="date"
              class="form-control"
              formControlName="startDate"
              id="startDate"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Hora saída</label>
            <input
              type="time"
              class="form-control"
              formControlName="exitTime"
              id="exitTime"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Km Saída</label>
            <input
              type="text"
              class="form-control"
              placeholder="Kilometragem saída"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
              formControlName="outputKm"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Data da chegada</label>
            <input type="date" class="form-control" formControlName="endDate" />
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Hora chegada</label>
            <input
              type="time"
              class="form-control"
              formControlName="arrivalTime"
              id="arrivalTime"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Km chegada</label>
            <input
              type="text"
              class="form-control"
              placeholder="Kilometragem chegada"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
              formControlName="arrivalKM"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="card">Cartão</label>
            <input
              type="text"
              class="form-control"
              placeholder="Cartão"
              formControlName="card"
              id="card"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="cardNumber">Número</label>
            <input
              type="text"
              class="form-control"
              placeholder="Número"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
              formControlName="cardNumber"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="securityCode">Cód Segurança</label>
            <input
              type="text"
              class="form-control"
              placeholder="Cod Segurança"
              formControlName="securityCode"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Validade</label>
            <input type="date" class="form-control" />
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Franquia</label>
            <input
              type="text"
              class="form-control"
              formControlName="franchise"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Observação</label>
            <input
              type="text"
              class="form-control"
              formControlName="aboutCard"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="inputState">Total diárias</label>
            <input
              type="text"
              class="form-control"
              placeholder="Total diárias"
              formControlName="dailyValue"
            />
            <label for="excedentKm">Km Excedente</label>
            <input
              type="text"
              class="form-control"
              placeholder="Km excedente"
              formControlName="excedentKm"
              id="excedentKm"
            />
            <label for="otherExpenses">Outras despesas</label>
            <input
              type="text"
              class="form-control"
              placeholder="Outras despesas"
              formControlName="otherExpenses"
            />
          </div>
          <div class="form-group col-md-2">
            <label for="extraHour">Hora extra</label>
            <input
              type="text"
              class="form-control"
              placeholder="Hora extra"
              formControlName="extraHour"
              id="extraHour"
            />
            <label for="discounts">Descontos</label>
            <input
              type="text"
              class="form-control"
              placeholder="Descontos"
              formControlName="discounts"
            />
            <label for="totalReceivable">Total a receber</label>
            <input
              type="text"
              class="form-control"
              placeholder="Total a receber"
              formControlName="totalReceivable"
            />
          </div>

          <div class="form-group col-md-8">
            <label for="observationSafe">Observação</label>
            <input
              type="text"
              class="form-control"
              placeholder="Observação"
              style="height: 170px"
              formControlName="aboutRent"
            />
          </div>
        </div>
      </form>
      <div class="form-row">
        <div class="col-md-3" style="margin-bottom: 16px">
          <button
            type="submit"
            class="btn btn-success btn-fill btn-wd"
            (click)="onSubmit()"
          >
            CONFIRMAR
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
