<div class="card">
  <div class="container-fluid">
    <div class="content">
      <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Id Veículo</label>
            <input type="text" class="form-control" disabled />
          </div>
          <div class="form-group col-md-4">
            <label for="name">Modelo</label>
            <input
              type="text"
              class="form-control"
              placeholder="Informe o número do dispositivo legal"
              id="name"
              formControlName="name"
              name="name"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="purchaseDate">Data da Compra</label>
            <input
              type="date"
              class="form-control"
              id="purchaseDate"
              formControlName="purchaseDate"
              name="purchaseDate"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="brand">Marca</label>
            <input
              type="text"
              id="brand"
              class="form-control"
              placeholder="Marca"
              formControlName="brand"
              name="brand"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="color">Cor</label>
            <input
              type="text"
              class="form-control"
              placeholder="Cor"
              id="color"
              formControlName="color"
              name="color"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="plate">Placa</label>
            <input
              type="text"
              class="form-control"
              id="plate"
              placeholder="ABC 1234"
              formControlName="plate"
              name="plate"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="chassi">Chassi</label>
            <input
              type="text"
              id="chassi"
              class="form-control"
              placeholder=" XXXXXXXXXXXXXXXXX"
              formControlName="chassi"
              name="chassi"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="year">Ano</label>
            <input
              type="number"
              min="0"
              max="9999"
              class="form-control"
              id="year"
              placeholder="Ano modelo"
              formControlName="year"
              name="year"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="plataform_user" style="display: block"
              >Manuntenção</label
            >
          </div>
        </div>
      </form>
      <form [formGroup]="occurrenceForm">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="createdAt">Data Manuntenção</label>
            <input
              type="date"
              class="form-control"
              id="createdAt"
              name="createdAt"
              formControlName="createdAt"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="observation">Observação</label>
            <input
              type="observation"
              class="form-control"
              placeholder="Observação"
              id="observation"
              name="observation"
              formControlName="observation"
            />
          </div>
          <div class="form-group col-md-4" style="margin-top: 24px">
            <button
              type="submit"
              class="btn btn-default btn-fill btn-wd"
              (click)="onCreateOcuurence()"
            >
              ADICIONAR MANUNTENÇÃO
            </button>
          </div>
        </div>
      </form>
      <div class="form-row">
        <div class="content table-responsive table-full-width">
          <table class="table" (onDeleteRent)="onDeletedRent($event)">
            <thead>
              <tr>
                <th class="text-center">{{ headerRow[0] }}</th>
                <th class="text-center">{{ headerRow[1] }}</th>
                <th class="text-center">{{ headerRow[2] }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let occurrence of occurrenceList; let i = index">
                <td class="text-center">{{ occurrence?.createdAt }}</td>
                <td class="text-center">{{ occurrence?.observation }}</td>
                <td class="text-center">{{ i }}</td>
                <td class="td-actions text-center">
                  <button
                    rel="tooltip"
                    title="Remove"
                    class="btn btn-danger btn-simple btn-xs"
                    (click)="removeOcurrence(i)"
                  >
                    Remover<i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3" style="margin-bottom: 16px">
          <button
            type="submit"
            class="btn btn-success btn-fill btn-wd"
            (click)="onSubmit()"
          >
            CONFIRMAR
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
