<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="tab-content">
          <div class="tab-pane active" id="description-logo">
            <div class="card">
              <div class="header">
                <h4 class="title">Aluguéis ativos</h4>
              </div>
              <div
                class="content"
                style="
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                "
              >
                <p>{{ inProgress }}</p>
                <i class="pe-7s-note2" style="font-size: 3rem"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="tab-content">
          <div class="tab-pane active" id="description-logo">
            <div class="card">
              <div class="header">
                <h4 class="title">Aluguéis em atraso</h4>
              </div>
              <div
                class="content"
                style="
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                "
              >
                <p>{{ late }}</p>
                <i class="pe-7s-diskette" style="font-size: 3rem"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="tab-content">
          <div class="tab-pane active" id="description-logo">
            <div class="card">
              <div class="header">
                <h4 class="title">Clientes cadastrados</h4>
              </div>
              <div
                class="content"
                style="
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                "
              >
                <p>{{ clients }}</p>
                <i class="pe-7s-users" style="font-size: 3rem"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8">
        <div class="content table-responsive table-full-width">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">{{ headerRow[0] }}</th>
                <th class="text-center">{{ headerRow[1] }}</th>
                <th class="text-center">{{ headerRow[2] }}</th>
                <th class="text-center">{{ headerRow[3] }}</th>
                <th class="text-center">{{ headerRow[4] }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of filteredRows">
                <td class="text-center">{{ row?.client?.name }}</td>
                <td class="text-center">{{ row?.client?._id }}</td>
                <td class="text-center">{{ row?.vehicle?.brand }}</td>
                <td class="text-center">{{ row?.status }}</td>
                <td class="text-center">{{ row?.rent?.endDate }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="display: flex; justify-content: center">
          <ul class="pagination">
            <li
              [class.disabled]="currentPage === 1"
              (click)="changePage(currentPage - 1)"
            >
              <a><<</a>
            </li>
            <li
              [class.active]="currentPage === page"
              *ngFor="let page of totalPagesArray"
            >
              <a (click)="changePage(page)">{{ page }}</a>
            </li>
            <li
              [class.disabled]="currentPage === totalPages"
              (click)="changePage(currentPage + 1)"
            >
              <a>>></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <lbd-chart
          [title]="'Carros'"
          [chartType]="graphType"
          [chartData]="dataGraph"
          [legendItems]="emailChartLegendItems"
          [withHr]="true"
          [footerIconClass]="'fa fa-clock-o'"
          [footerText]="'Campaign sent 2 days ago'"
        >
        </lbd-chart>
      </div>
    </div>
  </div>
</div>
